.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: var(--color-secondary);
  font-weight: bold;
}

.nav a {
  color: var(--color-dark);
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}
